:markdown
    ```language-haml
        - if @alerts['Incidents'].empty?
            %p No incidents to report
        - else
            - @alerts['Incidents'].each do |alert|
                %p= alert['Description']
    ```