%section#rail-lines
    .panel.panel-default
        .panel-heading
            %h2.panel-title DCMETRO RAIL LINES
        .panel-body
            %ul
                -@lines['Lines'].each do |line|
                    %li= line["DisplayName"]
        .panel-footer
            = render "welcome/rail_lines_footer"