.side-bar{ :id => "side-nav", data: { spy: "affix", "offset-top" => 97 } }
    %ul{ :class => "nav nav-pills nav-stacked", :role => "tablist" }
        %li
            %a{ href: "#rails-setup" } Rails Setup
        %li
            %a{ href: "#alerts" } Alerts
        %li
            %a{ href: "#rail-lines" } Rail Lines
        %li
            %a{ href: "#rail-stations" } Stations
        %li
            %a{ href: "#predictions" } Predictions
        %li
            %a{ href: "#fare-info" } Fare Info 