.side-bar{ data: { spy: "affix", "offset-top" => 97 } }
    %ul
        %li
            %a{ href: "#top" } Rails Setup
        %li
            %a{ href: "#alerts" } Alerts
        %li
            %a{ href: "#rail-lines" } Rail Lines
        %li
            %a{ href: "#stations" } Stations
        %li
            %a{ href: "#predictions" } Predictions