%section#rail-stations
    .panel.panel-default
        .panel-heading
            %h2.panel-title DCMETRO GREEN LINE STATIONS
        .panel-body
            %ul
                -@stations.each do |station|
                    %li= station["Name"]
        .panel-footer
            = render "welcome/stations_footer"