/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "prism";
@import "header";

body { position: relative; }

ul {
    list-style: none;
}

p.alerts-none {
    font-size: 21px;
}
// #side-nav ul li a[href^='#']
#side-nav {
    display: block;
    width: 135px;
    ul li {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 5px;
        border-radius: 0px;
        &:last-child {
            padding-bottom: 0;
        }
        a {
            padding: 0;
            &:hover, &:focus {
                font-weight: 600;
                text-decoration: underline;
                background: none;
                
            }
        }
        &.active {
            a {
                font-weight: 600;
                text-decoration: underline;
                background: none;
                color: #23527c;
                
            }
        }
    }
    &.affix {
        top: 15px;
    }
    @media (max-width: 768px) { display: none; }
}