%header
    .row
        .col-sm-8
            %h1 DCMetro Rails Example
            %p A example Ruby on Rails app utilizing the DCMetro gem.
        .col-sm-4.header-icon
            =icon('train', '', class: 'header-icon-train')